<div class="navbar">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="#">Milestone.js</a>
            <div class="nav-collapse collapse">
                <p class="navbar-text pull-right">
                    {{#nav}}
                        <a href="{{href}}"><i class="{{class}}"></i> {{name}}</a>
                    {{/nav}}
                </p>
            </div>
        </div>
    </div>
</div>

<div class="labels">
    <h1>{{state.name}}

    <span class="btn-group pull-right">
        {{#labels}}
        <button class="btn">
            <a href="/label/{{name}}/{{req.params.milestone}}?c={{req.query.c}}">{{name}}</a>
        </button>
        {{/labels}}
    </span>
    </h1>
</div>

<div id="timeline-embed"></div>


<div id="issues"  class="issues"></div>

<script type="text/javascript">

    $(document).ready(function() {
        var source = {{&source}};
        var label = "{{&label}}";
        createStoryJS({
            type: 'timeline',
            left: "3%",
            width: "94%",
            height: "350",
            "start_at_slide": {{startAtSlide}},
            source: source,
            css: '/stylesheets/timeline.css',
            js: '/javascripts/timeline.js'
        });

        VMM.onSlideChange(function(event, n) {
            // Get data for the milestone and label
            $("body").css("cursor", "progress");
            $.get("/templates/issues.html", function(template) {
                $.getJSON(source.timeline.date[n].href, function(data) {
                    $("body").css("cursor", "auto");
                    if(data.length > 0) {
                        var html = templates.issues({
                            issues: data
                        });
                        $("#issues").html(html);
                        CollapsibleLists.apply();

                        $(".task").each(function(index, element) {
                            $.getJSON(element.getAttribute("url") + "?callback=?", null,
                                    function(issue) {
                                html = templates.task({
                                    issue: issue.data
                                });
                                $(element).html(html);
                            });
                        });
                    }
                    else {
                        $("#issues").html("None found");
                    }
                });

            });
        });
    });

</script>
<script type="text/javascript" src="/javascripts/storyjs-embed.js"></script>
<script type="text/javascript" src="/javascripts/timeline.js"></script>