<blockquote>
    <div class="row pull-right">
        <div class="span2">
            <h1 class="summary">status: {{milestone.status}}</h1>
        </div>
        <div class="span3">
            <h1 class="summary">due on: {{milestone.due_date}}</h1>
        </div>
        <div class="span2">
            <h1 class="summary">open: {{milestone.open_issues}}</h1>
        </div>
        <div class="span2">
            <h1 class="summary">closed: {{milestone.closed_issues}}</h1>
        </div>
    </div>
</blockquote>