<blockquote>
    <div class="row pull-right">
        <div class="span2">
            <span class="summary">status: {{milestone.state}}</span>
        </div>
        <div class="span3">
            <span class="summary">due on: {{milestone.due_date}}</span>
        </div>
        <div class="span2">
            <span class="summary">open: {{milestone.open_issues}}</span>
        </div>
        <div class="span2">
            <span class="summary">closed: {{milestone.closed_issues}}</span>
        </div>
    </div>
</blockquote>