body {
}

a {
    color: #00B7FF;
}

.white-bg {
    background-color: white;
}

.issues {
    width: 94%;
    margin-left: 3%;
}

.labels {
    width: 94%;
    margin-left: 3%;
}

table.summary {
    width: 80%
}
div.issue {
    border: 1px dotted #eaeaea;
}
div.issue-title {
    font-weight: bold;
}

div.issue a, a:visited {
    color: black;
}

span.task {
    /*padding: 3px;*/
}

span.task-open {
    background-color: #f89406;
    border-radius: 3px;
    /*padding: 2px 4px;*/
    color: #ffffff;
    font-weight: bold;
}

span.task-closed {
    background-color: #999999;
    border-radius: 3px;
    /*padding: 2px 4px;*/
    color: #ffffff;
    font-weight: bold;
}

.closed {
    border-radius: 2px;
    border: 1px dotted #eaeaea;
    background-color: #f5f5f5;
    color: black;
    /*padding: 3px;*/
}

span.closed {
    background-color: #fffaf0;
}

span.open {
    border-radius: 2px;
    border: 1px dotted #eaeaea;
    background-color: #ffffcc;
    /*padding: 3px;*/
    color: black;
}

span.closed a, a:visited {
    color: black;
}

.collapsibleList li{
    list-style-image:url('/images/button.png');
}

li.collapsibleListOpen{
    list-style-image:url('/images/button-open.png');
}

li.collapsibleListClosed{
    list-style-image:url('/images/button-closed.png');
}

div#timeline-embed {
    margin-left: 3% !important
}

ul, ol {
    margin: 0 0 3px 25px;
}

.progress .bar {
    line-height: 2;
}

.progress .bar span {
    overflow: hidden;
}